@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/metro');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: auto;
    width: auto;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #000000;

}

html::-webkit-scrollbar-thumb {
    height: 200px;
    background: #FCD702;
    border-radius: 20px;
}

.course-a {
    background-image: url(@/assets/img-courseA/Rectangle1.png);
    background-color: #000000;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.course-a-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 7px 100px 0px 100px;
    color: #E3E3E3;
}

.course-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-course-a {
    margin-left: 156px;
}

.nav-course-a  ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-course-a  ul li a {
    color: #E3E3E3;
    text-decoration: none;
    
}

.social {
    display: flex;
    align-items: center;
    margin-left: 156px;
    gap: 10px;
}
.tel{
    margin-left: 40px;
}
.tel a {
    color: #E3E3E3;
    text-decoration: none;   
}

.nav-cont a {
    text-decoration: none;
    cursor: pointer;
    color: #E3E3E3;
}

.nav-cont {
    margin-top: 87px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.025em;
}

.nav-course span {
    color: #FCD702;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.025em;
}
.nav-course a{
    color: #E3E3E3;
    text-decoration: none;
}
.course-card{
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.about-course {
    text-align: left;
    padding: 50px;
    color: #191919;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    background-color: #FCD702;
    width: 645px;
    height: 733px;
    border-radius: 3px;

}

.about-course #cont-p-1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    color: #191919;
}

.about-course #cont-p-2 {
    margin-top: 6px;
}

.about-course #cont-p-3 {
    margin-top: 45px;
}

.about-course #cont-p-4 {
    margin-top: 55px;

}

.about-course #cont-p-5 {
    font-weight: 600;
    font-size: 24px;

}

.about-course ul {
    list-style: none;
    margin-top: 60px;
}

.course-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 84px;
}

.course-price button {
    width: 156px;
    height: 55px;
    background: #000000;
    text-align: center;
    border-radius: 3px;
    padding: 10px 32px;
    color: #FFFFFF;
    font-size: inherit;
    cursor: pointer;

}