@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/metro');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: auto;
    width: auto;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #000000;

}

html::-webkit-scrollbar-thumb {
    height: 200px;
    background: #FCD702;
    border-radius: 20px;
}



/* HEADER */

header {
    margin: 0 auto;
    height: auto;
    background-image: url(@/assets/img-header/mota1.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.header-container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 7px 100px 250px 100px;

}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav {
    margin-left: 136px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav li a {
    text-decoration: none;
    color: #E3E3E3;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    cursor: pointer;
}

.social {
    display: flex;
    align-items: center;
    margin-left: 156px;
    gap: 10px;

}

.tel {
    margin-left: 40px;
}

.tel a {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #E3E3E3;
}

.header-box {
    width: 553px;
    margin-top: 250px;
    margin-left: 575px;
}

.slogan p {
    margin-top: 41px;
    color: #E3E3E3;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    font-style: normal;

}

.motoschool {
    margin-top: 19px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 114px;
    font-size: inherit;

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50px;
    gap: 40px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}

.wrapper a {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.025em;
    color: #E3E3E3;
    text-decoration: none;

}

#btn3 {
    width: 183px;
    height: 50px;
    padding: 12px 32px 12px 32px;
    background-color: #FCD702;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 20px;
    border-style: none;
    border-radius: 3px;
    cursor: pointer;
}

#btn3 a {
    text-decoration: none;
    color: #000000;
}

/* ABOUT--2 блок*/

.about {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    padding-top: 100px;

}

.about::before {
    content: "о нас";
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    padding-left: 50px;
    text-transform: uppercase;
    color: #191919;
}

.about_logo {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;
}

.about_logo p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;
}

.about-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 100px 100px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-top: 100px;

}

.about-text {
    font-size: 18px;
    font-weight: 400;
    color: #8C8C8C;
    overflow-wrap: anywhere;
    overflow: hidden;
}

.about-img-modul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    width: 560px;
    height: 400px;
    gap: 9.33px;

}

#pic-1 {
    margin-top: 42px;
}

#pic-2 {
    margin-top: -45px;
}

#pic-3 {
    margin-top: -25px;
}

#pic-5 {
    margin-top: 20px;
}




/* WHY ARE WE--(3 блок)*/


.why {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    padding-top: 100px;
}

.why::before {
    content: "почему мы?";
    white-space: nowrap;
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.why-title {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;
}

.why-title p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}

.why-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 100px 100px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 125px;
    margin-top: 111px;

}

.why-text-block {
    display: grid;
    grid-template-columns: 42% 42%;
    grid-template-rows: auto auto;
    align-items: flex-start;
    color: #8C8C8C;
    margin-top: -33px;
    column-gap: 16%;
    row-gap: 10%;

}

/* svg если приблизить,то желтый контур не как на макете,видны линии пересечения */
#why-img-content {
    max-width: 450px;
    border-radius: 3px;
}

#why-svg {
    margin-left: -35px;
    margin-top: 9px;
}

#title {
    /* position: absolute; */
    margin-top: -35px;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #E3E3E3;
}

#text {
    margin-top: 40px;
    font-size: 16px;
    line-height: 22px;
    overflow-wrap: anywhere;
    overflow: hidden;
}


/* COURSE--(блок 4) */


.course {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    padding-top: 100px;
}

.course::before {
    content: "наши курсы";
    white-space: nowrap;
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.course-title {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;
}

.course-title p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}

.content-vector {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 71px;
    padding: 0px 100px;

}

#vector-1,
#vector-2 {
    width: 50px;
    height: 37px;
    text-align: center;
    background-color: #FCD702;
    line-height: 40px;
    border-radius: 1px;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    cursor: pointer;
}

.but_vect1,
.but_vect2 {
    background-color: #000000;
}

#vector-1:active {
    background-color: red;
}

#vector-2:active {
    background-color: red;
}

.course-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 100px 100px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 52px;
    gap: 75px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.course-content::-webkit-scrollbar {
    display: none;
}

.course-program-card {
    vertical-align: middle;
    align-items: flex-end;

}

#cours_img {
    object-fit: cover;
    -webkit-mask-image: url(@/assets/img-course-bl-4/Frame-311.png);
    mask-image: url(@/assets/img-course-bl-4/Image-1.png);
}

#price {
    text-align: center;
    width: 225px;
    height: 48px;
    margin-top: -50px;
    margin-left: 225px;
    /* transform: skew(-15deg); */
    font-weight: 700;
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    color: #000000;
    background-color: #FCD702;
}

#price-b {
    width: 225px;
    height: 48px;
    margin-top: -50px;
    margin-left: 225px;
    /* transform: skew(-15deg); */
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    color: #000000;
    background-color: #FCD702;
}

.course-text {
    margin-top: 41px;
    padding: 0px 30px;
    overflow-wrap: anywhere;
    overflow: hidden;
}

.course-text h1 {
    height: 64px;
    font-weight: 600;
    font-size: 24px;
    color: #E3E3E3;
    text-transform: uppercase;
}



.course-text-p {
    font-weight: 400;
    margin-top: 15px;
    font-size: 16px;
    color: #8C8C8C;
    height: 176px;
    overflow: hidden;
}


#why-btn {
    width: 146px;
    height: 48px;
    margin-top: 33px;
    border-style: none;
    justify-content: center;
    align-items: flex-end;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #FCD702;
    border-radius: 3px;
    cursor: pointer;
    font-size: inherit;
}




/*entry  блок-5 */

.entry {
    background-color: #000000;
    background-image: url(@/assets/img-entry-bl-5/Rectangle-126.png);
    background-repeat: no-repeat;
    background-size: cover;


}

.entry {
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
}

.entry::before {
    content: "он ждет тебя";
    white-space: nowrap;
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.entry-title {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;
}

.entry-title p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}

.entry-content {
    display: flex;
    justify-content: center;
    padding: 0px 100px 100px 100px;
    margin-top: 192px;
    gap: 48px;
    color: #E3E3E3;
    margin-left: 150px;
}

.entry-content h1 {
    font-weight: 600;
    font-size: 28px;
    justify-content: end;
    text-align: right;
    overflow-wrap: anywhere;
    overflow: hidden;
}



.entry-block p {
    max-width: 451px;
    font-weight: 400;
    font-size: 18px;
}

.entry-inp-btn {
    display: flex;
    gap: 16px;
    margin-top: 42px;
}

.entry-input input {
    width: 241px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    padding: 12px 12px 12px 12px;
    line-height: 150%;
    background: #E3E3E3;
    color: #8C8C8C;
    border-radius: 2px;
    border-style: none;
    font-size: inherit;
}


.entry-input input:focus {
    outline: none;
    font-size: inherit;
}

.entry-inp-btn button {
    width: 126px;
    height: 48px;
    align-items: center;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    background: #FCD702;
    border-radius: 2px;
    color: #000000;
    border-style: none;
    cursor: pointer;
    font-size: inherit;
}


.entry-p a {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #8C8C8C;
}

#p {
    width: 257px;
    height: 34px;
    font-size: 12px;
    margin-top: 8px;
    color: #8C8C8C;
}



/*BEE MOTO-- блок-6 */

.bee-moto {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    padding-top: 100px;

}

.bee-moto::before {
    content: "быть мотоциклистом";
    white-space: nowrap;
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.bee-moto-title {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;
}

.bee-moto-title p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}

.bee-moto-slogan {
    margin-top: 51px;
    padding: 0px 100px;
    font-weight: 400;
    margin-left: 50px;
    font-size: 40px;
    line-height: 140%;
    color: #8C8C8C;
    text-transform: uppercase;
    overflow-wrap: anywhere;

}

.be-moto-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 100px 100px 100px;
}

.bee-moto-content-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 112px;
    margin-top: 160px;
}

.t-text {
    font-weight: 400;
    color: #8C8C8C;
}

#t-1 {
    margin: -25px 0px 0px -33px;
    position: absolute;
}

#t-text {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #E3E3E3;
}

#p-text {
    margin-top: 40px;
    font-size: 16px;
    overflow-wrap: anywhere;
    overflow: hidden;
}

#be-moto-img-1 {
    object-fit: cover;
    -webkit-mask-image: url(@/assets/img-bee-moto-bl-6/Frame-311.png);
    mask-image: url(@/assets/img-bee-moto-bl-6/Rectangle-160.png);
}

.bee-moto-content-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    margin-top: 150px;

}

.t-text-2 {
    font-weight: 400;
    color: #8C8C8C;
    margin-left: 200px;
}

#t-2 {
    margin: -25px 0px 0px -33px;
    position: absolute;

}

#be-img-2 {
    position: absolute;
    padding: 60px 533px 58px 433px;
}

.bee-moto-content-3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 274px;
    color: #8C8C8C;
}

.t-text-03 {
    position: absolute;
    margin-top: -165px;
    color: #8C8C8C;
    font-size: 16px;
}

#be-moto-img-3 {
    object-fit: cover;
    -webkit-mask-image: url(@/assets/img-bee-moto-bl-6/Frame-226.png);
    mask-image: url(@/assets/img-bee-moto-bl-6/image-258.png);
}


#t-03 {
    margin: -25px 0px 0px -33px;
    position: absolute;

}

#p-text-3 {
    position: relative;
    font-size: 16px;
    width: 288px;
    height: 133px;
    margin-top: 40px;
    /* overflow-wrap: anywhere;
    overflow: hidden; */
}

.bee-moto-content-4 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    margin-top: 150px;
    color: #8C8C8C;
}

#t-04 {
    margin: -25px 0px 0px -33px;
    position: absolute;

}

.bee-moto-content-5 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 150px;
    margin-top: 150px;
    color: #8C8C8C;
}

#be-moto-img-5 {
    object-fit: cover;
    -webkit-mask-image: url(@/assets/img-bee-moto-bl-6/Frame-228.png);
    mask-image: url(@/assets/img-bee-moto-bl-6/image-259.png);
}

#t-05 {
    margin: -25px 0px 0px -33px;
    position: absolute;
}


.bee-moto-border-text {
    margin: 0 auto;
    justify-content: center;

}

.t-text-author {
    position: relative;
    margin: 0 auto;
    border: 10px solid #373737;
    color: #8C8C8C;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    width: 950px;
    height: auto;
    margin-top: 161px;
    overflow-wrap: anywhere;
    overflow: hidden;

}

#autor {
    padding: 75px 88px 40px 88px;
}

#autor-name {
    float: right;
}


.cav-up {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 18px;
    margin-top: -60px;
    margin-left: 80px;
    gap: 11px;
    width: 120px;
    height: 120px;
    background-color: #000000;
    z-index: 2;
}

.cav-down {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 18px;
    margin-top: -64px;
    margin-left: 1020px;
    gap: 11px;
    width: 120px;
    height: 120px;
    background-color: #000000;
    z-index: 2;

}


/* PHOTO-GALLERY-блок--7*/


.photo-gallery {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    padding-top: 100px;
}

.photo-gallery::before {
    content: "Фотогаллерея";
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.photo-gallery-title {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;
}

.photo-gallery-title p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}

.gallery-block-grid {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 100px 100px 100px;
    overflow-x: scroll;

}

.gallery-block-grid::-webkit-scrollbar {
    height: 5px;

}

.gallery-block-grid::-webkit-scrollbar-thumb {
    background: #FCD702;
    border-radius: 20px;
}

.gallery-block-grid {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(13, auto);
    grid-template-rows: repeat(3, auto);
    object-fit: cover;
    gap: 20px;

}

.grid-item {
    object-fit: cover;

}

.grid-item img {
    border-radius: 2px;
}

#grid-41 {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}

#grid-62 {
    grid-column: 5;
    grid-row: 1/span 2;

}

#grid-63 {
    grid-column: 6;
    grid-row: 1/span 2;
    /* background-image:url(@/assets/img-photo-gal-bl-7/Rectangle63.png); 
    background-size: cover;
    background-position: center;
    align-content: center; */
}

#grid-41-b {
    grid-column: 8/span 2;
    grid-row: 1/span 2;
}

#grid-178 {
    grid-column: 9 /span 2;
    grid-row: 1;
}

#grid-61 {
    grid-column: 1/span 2;
    grid-row: 3
}

#grid-64 {
    grid-column: 3/span 2;
    grid-row: 2/span 2;

}

#grid-65 {
    grid-column: 5;
    grid-row: 3;
}

/* ????????? */

#grid-66 {
    grid-column: 6;
    grid-row: 3;
    /* margin-left: -104px; */
}

#grid-54 {
    grid-column: 7;
    grid-row: 2/span 2;
}

#grid-67 {
    grid-column: 7;
    grid-row: 1;
}

#grid-61-1 {
    grid-column: 8/span 2;
    grid-row: 3;
}

#grid-177 {
    grid-column: 10;
    grid-row: 1;
}

#grid-179 {
    grid-column: 10;
    grid-row: 2/span 2;

}

/* ??????????? */


#grid-178 {
    grid-column: 11;
    grid-row: 1;
    /* margin-left: -100px; */
}

#grid-64-1 {
    grid-column: 12/span 2;
    grid-row: 1/span 2;
}

#grid-42 {
    grid-column: 3;
    grid-row: 1;
}

#grid-180 {
    grid-column: 11;
    grid-row: 2/span 2;

}

#grid-64-1 {
    grid-column: 12/span 2;
    grid-row: 1/span 2;
}

#grid-42-1 {
    grid-column: 12;
    grid-row: 3;
}

#grid-60-1 {
    grid-column: 13;
    grid-row: 3;
}

.scroll {
    margin: 0 auto;
    text-align: center;
    width: 450px;
    height: 5px;
    background-color: #FCD702;
    margin-top: 50px;
    cursor: pointer;
}


/* 8-блок */

.garage {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    padding-top: 100px;
}

.garage::before {
    content: "Наш гараж";
    white-space: nowrap;
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.garage-title {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;
}

.garage-title p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}

.garage-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 0px 100px 0px;
}

.garage-text {
    max-width: 619px;
    margin-left: 210px;
    color: #8C8C8C;
    margin-top: 91px;
    overflow-wrap: anywhere;
}

.garage-img {
    display: flex;
    align-items: center;
    width: 1400px;
    margin-top: 111px;
}

.main_card_desc {
    margin-top: 111px;
    text-align: center;
}

.main_card_desc p {
    font-weight: 600;
    font-size: 32px;
    line-height: 46px;
    text-transform: uppercase;
    color: #E3E3E3;
}

#garage-img-2 {
    width: 464px;
    height: 425px;
    margin-left: 50px;
}

#garage-img-3 {
    width: 342px;
    height: 313px;
    margin-left: 50px;
}

#garage-img-4 {
    width: 166px;
    height: 151px;
    margin-left: 50px;
}

.card_text_1 {
    color: #8C8C8C;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
}

.card_text_2 {
    font-weight: 400;
    font-size: 16px;
    color: #E3E3E3;
}

.main_card_desc_text {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 31px;
}

.box-card {
    position: absolute;
    width: 500px;
    height: 380px;
    margin-left: 761px;
}

.vector-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 243px;
    height: 62px;
    gap: 54px;
    margin-top: 120px;
    margin-left: 285px;
}

#sup-1 {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    color: #FCD702;
    font-weight: 600;
    font-size: 30px;
    line-height: 140%;
    margin-left: 98px;
    margin-top: -20px;

}

#sub-2 {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FCD702;
    text-align: center;
    margin-top: 33px;
    margin-left: 124px;


}

#line-55 {
    position: relative;
    margin-top: 5px;

}

#vector-3 {
    width: 50px;
    height: 37px;
    text-align: center;
    background-color: #FCD702;
    line-height: 40px;
    border-radius: 1px;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    cursor: pointer;
}

#vector-4 {
    width: 50px;
    height: 37px;
    text-align: center;
    background-color: #FCD702;
    line-height: 40px;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    cursor: pointer;
}


/* блок-9-команда  */

.command {
    width: 100%;
    background-color: #000000;
    padding-top: 100px;
}

.command::before {
    content: "команда";
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.command-title {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;
}

.command-title p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}

/* .command-content{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 100px 100px 100px;

} */
.instructor-card-1 {
    background-image: url("@/assets/img-command-bl-9/BG.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 125px;

}

.instructor-card-2 {
    background-image: url("@/assets/img-command-bl-9/BG-2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 200px;

}

.command-content {
    padding-bottom: 114px;
}

.content-card-1 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 172px;

}

.content-card-2 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 172px;

}


#instructor-text-p-2 {
    margin-top: -45px;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: #E3E3E3;

}

#instructor-text-p-3 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
    color: #8C8C8C;
    /* overflow-wrap: anywhere; */
}

#instructor-photo-1 {
    width: 300px;
    height: 300px;
    margin-top: -57px;
}


/* блок-10-выбери свой байк */


.bike {
    width: 100%;
    background-color: #000000;

}

.bike::before {
    content: "выбери свой байк";
    white-space: nowrap;
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
    padding-top: 100px;
}

.bike-title {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;

}

.bike-title p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}

.bike-bg {
    background-image: url(@/assets/img-bike-bl-10/Frame-239-1.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    height: 600px;
    padding: 50px 100px;
    margin-top: -100px;
}

.bike-content {
    display: flex;
    justify-content: center;
    gap: 48px;
    color: #E3E3E3;
    margin-top: 188px;

}

.bike-content h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 115%;
    text-align: left;
    overflow-wrap: anywhere;
}


.bike-block p {
    width: 451px;
    height: 100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    overflow-wrap: anywhere;
}

.bike-inp-btn {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 42px;
}

.bike-input input {
    width: 241px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    padding: 12px 12px 12px 12px;
    line-height: 150%;
    background: #E3E3E3;
    color: #8C8C8C;
    border-radius: 2px;
    border-style: none;
    font-size: inherit;
}

/* ?????? */
.bike-input input:focus {
    outline: none;
    background-color: rgb(27, 27, 83);
    font-size: inherit;
}

.bike-button button {
    width: 126px;
    height: 48px;
    align-items: center;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    background: #FCD702;
    border-radius: 2px;
    color: #000000;
    border-style: none;
    cursor: pointer;
    font-size: inherit;
}


.bike-p a {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #8C8C8C;

}

#p-bike {
    width: 257px;
    height: 34px;
    font-size: 12px;
    margin-top: 8px;
    text-align: right;
    float: right;
    color: #8C8C8C;
}

#bike-text {
    text-align: right;

}

/* блок-11-NEWS */


.news {
    width: 100%;
    background-color: #000000;
    padding-top: 100px;
}

.news::before {
    content: "новости и события";
    white-space: nowrap;
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.news-title {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;

}

.news-title p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}

.news-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 100px 100px 100px;
    display: flex;
    gap: 45px;
    margin-top: 101px;
    overflow-x: scroll;
}

.news-content::-webkit-scrollbar {
    height: 5px;
}

.news-content::-webkit-scrollbar-thumb {
    background: #FCD702;
    border-radius: 20px;
}


.data-text {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #8C8C8C;
    margin-top: 11px;
}

.data-text a {
    text-decoration: none;
    color: #8C8C8C;
}

.news-text {
    margin-top: 30px;

}

.news-text p {
    margin-top: 15px;
}

.news-text h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 90%;
    color: #E3E3E3;
    height: 29px;

}

.overflow-text {
    height: 82px;
    overflow-wrap: anywhere;
    overflow: hidden;
}

#news-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #8C8C8C;

}

.btn-mess {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
}

.mess {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 8px;
    color: #8C8C8C;
}

#svg_mess {
    width: 18px;
    height: 18px;
}

#btn5 {
    width: 146px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-style: none;
    padding: 12px 32px 12px 32px;
    color: #000000;
    background-color: #FCD702;
    border-radius: 3px;
    cursor: pointer;
    font-size: inherit;
}


.see-news {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    text-align: center;
    padding: 10px;
}

.see-news a {
    color: #8C8C8C;
    border-radius: 2px;
}



/* 12-тренировки */


.workout {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    padding-top: 100px;
}


.workout::before {
    content: "тренировки";
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.workout-title {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;

}

.workout-title p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}


#p-name {
    color: #8C8C8C;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;

    overflow-wrap: anywhere;
}

#p-name-3 {
    color: #8C8C8C;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    overflow-wrap: anywhere;
}

#p-date {
    color: #8C8C8C;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.video-block {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: end;
    gap: 50px;
    margin-top: 125px;
    padding: 0px 100px;

}

.video-block img {
    margin-top: 8px;
}

#video-block-vector {
    margin: 0 auto;
    text-align: center;
    margin-top: 42px;
    padding-bottom: 100px;
}

/* STATISTIC-13-блок  */

.statistic {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    padding-top: 100px;
}


.statistic::before {
    content: "Статистика";
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.statistic-title {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;

}

.statistic-title p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}

.statistic-content {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 101px;
    padding: 0px 100px 100px 100px;

}

.about-figure {
    display: grid;
    grid-template-columns: 20% 60%;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 167px; */
    margin-top: 127px;

}

#about-figure-p {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #E3E3E3;
}

#statistic-text-block {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    color: #8C8C8C;
}

.block-statistic {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 30% 30% 30%;
    gap: 50px;
    margin-top: 124px;

}

.article-statistic {
    border-top: 1px solid white;
    text-align: left;
    padding-top: 30px;
}

#title-article {
    position: absolute;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    /* or 50px */
    text-align: right;
    letter-spacing: 0.025em;
    color: #E3E3E3;
    margin-top: -41px;
    margin-left: 151px;

}

#title-article_2 {
    position: absolute;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    /* or 50px */
    text-align: right;
    letter-spacing: 0.025em;
    color: #E3E3E3;
    margin-top: -41px;
    margin-left: 121px;

}

.article-stat-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #8C8C8C;
    margin-top: 60px;

}



/* DOCUMENTS-14-БЛОК */


.documents {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    padding-top: 100px;

}

.documents::before {
    content: "Наши документы";
    white-space: nowrap;
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.title-documets {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;

}

.title-documets p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}


.documents-block-grid {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 101px;
    padding: 0px 100px 100px 100px;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: auto auto auto;
    gap: 20px;
    object-fit: cover;
    overflow-x: scroll;

}


#doc-41 {
    grid-column: 5/span 2;
    grid-row: 2/span 2;

}

#doc-42-1 {
    grid-column: 10;
    grid-row: 3;
}

#doc-60-1 {
    grid-column: 9;
    grid-row: 3;
}

#doc-64 {
    grid-column: 5/span 2;
    grid-row: 1;
}

#doc-64 {
    grid-column: 1/span 2;
    grid-row: 2/span 2;

}

#doc-64-1 {
    grid-column: 9/span 2;
    grid-row: 1/span 2;

}

#doc-67 {
    grid-column: 3/span 2;
    grid-row: 1/span 2;
}

#doc-179 {
    grid-column: 6;
    grid-row: 2/span 2;
}

#doc-177 {
    grid-column: 6;
    grid-row: 1;
}

#doc-178 {
    grid-column: 7;
    grid-row: 1;
    /* margin-left: -100px; */
}

#doc-180 {
    grid-column: 7;
    grid-row: 2/span 2;
}

#doc-181 {
    grid-column: 4;
    grid-row: 3;
}

#doc-182 {
    grid-column: 3;
    grid-row: 3;
}

.documents-block-grid img {
    border-radius: 2px;
}


.documents-block-grid::-webkit-scrollbar {
    height: 5px;
}

.documents-block-grid::-webkit-scrollbar-thumb {
    background: #FCD702;
    border-radius: 20px;
}



/* ОТЗЫВЫ-15-блок */



.reviews {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    padding-top: 100px;
}

.reviews::before {
    content: "отзывы";
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.reviews-title {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;

}

.reviews-title p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}

.reviews-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 100px 100px 100px;
}

.reviews-photo-flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 150px;
    overflow-x: scroll;
    align-items: flex-start;
    padding-bottom: 80px;
}

.reviews-photo-flex::-webkit-scrollbar {
    height: 5px;
    width: 20%;

}

.reviews-photo-flex::-webkit-scrollbar-thumb {
    background: #FCD702;
    border-radius: 20px;

}

.reviews-form {
    width: 828px;
    margin-top: 50px;
    display: block;
    color: #8C8C8C;
}

.reviews-btn-input {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 30px;

}

.yandex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 24px;
    width: 260px;
    height: 48px;
    background: #FCD702;
    border-radius: 3px;
    font-weight: 400;
    font-size: 18px;
}

.yandex a {
    text-decoration: none;
    color: #000000;
}

.reviews-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 32px;
    gap: 8px;
    width: 168px;
    height: 48px;
    background: #8C8C8C;
    border-radius: 3px;
    color: #000000;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;

}

.col-25 {
    float: left;
    width: 20%;

}

.col-75 {
    float: left;
    width: 70%;

}

.row {
    display: flex;
    gap: 30px;
    margin-top: 15px;
}

.row-row {
    margin-top: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

label {
    float: right;
    padding: 12px 0px 12px 20px;
}

#rev-format {
    padding: 0px;
    margin-top: -27px;
}

input[type=text] {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 75px 12px 20px;
    border-radius: 3px;
    font-size: 16px;
    color: #373737;
    background: #E3E3E3;
    font-weight: 400;
    border-style: none;
}

input[type=text],
textarea:focus {
    outline: none;
}

textarea {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 75px 12px 20px;
    width: 530px;
    height: 242px;
    font-size: 16px;
    color: #373737;
    background: #E3E3E3;
    border-radius: 3px;
    border-style: none;
    resize: horizontal;
}

input[type=submit] {
    background-color: #FCD702;
    color: #000000;
    padding: 12px 32px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: left;
}

.col-75 p {
    margin-left: 230px;
    line-height: 48px;
}

.photo-form {
    display: flex;
    align-items: flex-start;
    gap: 20px;

}

#rev_btn {
    margin-top: 15px;
}


/* PARTNERS-16-BLOCK  */


.parters {
    width: 100%;
    background-color: #000000;
    margin: 0 auto;
    padding-top: 100px;
    border-bottom: 1px solid #373737;

}

.parters::before {
    content: "партнеры";
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.title-partners {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;

}

.title-partners p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}

.container-partners {
    margin: 0 auto;
    max-width: 1400px;
    margin-top: 101px;
    height: auto;
    padding: 0px 100px 100px 100px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 9px;
    justify-content: center;


}


/* question-17-блок  */


.question {
    width: 100%;
    background-color: #000000;
    margin: 0 auto;
    padding-top: 100px;


}

.question::before {
    content: "Часто задаваемые вопросы";
    white-space: nowrap;
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.title-quest {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;

}

.title-quest p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}

.question-content {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 101px;
    padding: 0px 100px 100px 100px;
}

.quest-block {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: #8C8C8C;
    font-size: 16px;
    line-height: 140%;
}

.quest-text ul {
    line-height: 78px;
    list-style: none;
    border-top: 1px solid #191919;
}



.quest-text li {
    border-style: none;
    border-top: 1px solid #191919;
    border-bottom: 1px solid #191919;
    cursor: pointer;
}

.quest-text li::before {
    content: "-";
    color: #FCD702;
    padding: 10px;

}

.quest-text #li-lh {
    line-height: normal;
    height: 78px;
    display: flex;
    align-items: center;
}

.quest-text li:hover {
    background-color: #191919;
    border-radius: 5px 0px 0px 5px;
}

.quest-box {
    padding: 20px 30px;
    background: #191919;
    border-radius: 5px;

}

.quest-box li {
    list-style: none;
}

.quest-box li::before {
    content: "\2022";
    padding-right: 10px;
    display: inline-block;
}


/* CONTACT-18-BLOCK */


.contact {
    width: 100%;
    background-color: #000000;
    margin: 0 auto;
    padding-top: 100px;

}

.contact::before {
    content: "контакты";
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 144px;
    text-transform: uppercase;
    color: #191919;
    padding-left: 50px;
}

.title-contact {
    display: flex;
    margin-top: -100px;
    margin-left: -100px;

}

.title-contact p {
    font-family: 'Metro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
    color: #E3E3E3;

}

.contact-mess {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 105px;
    padding: 0px 100px 11px 100px;
}

.mess-block {
    display: flex;
    justify-content: space-between;
    margin-top: 177px;
    gap: 30px;
    align-items: stretch
}

.mess-block p {
    font-weight: 600;
    font-size: 32px;
    color: #8C8C8C;
    margin-top: 24px;
}

.mess-cont a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: #FCD702;
    margin-top: 56px;


}

.mess-cont-p a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: #FCD702;
    margin-top: 56px;

}

.mess-cont-p {
    line-height: 24px;
}

.mess-cont-chat {
    margin-top: 35px;
}

.contact-mess hr {
    margin-top: 100px;
    opacity: 0.5;
    border: 1px solid #8C8C8C;
}

.contact-container {
    font-style: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
}

.contact-nav {
    margin-left: 139px;
}

.contact-nav ul {
    display: flex;
    gap: 40px;
}

.contact-nav li {
    list-style: none;

}

.contact-nav a {
    text-decoration: none;
    color: #8C8C8C;
}



.social-contact-futer {
    margin-left: 139px;
}

.social-contact-futer a {
    margin-left: 8px;
    align-items: center;
    cursor: pointer;
}

.contact-tel {
    margin-left: 38px;
}

.contact-tel a {
    color: #8C8C8C;
    text-decoration: none;
}

#contact-futer {
    margin-top: 65px;

}

#nav-futer a {
    color: #8C8C8C;
}

.contact-futer {
    display: flex;
    justify-content: flex-end;
    gap: 34px;
    font-weight: 400;
    font-size: 12px;
    color: #8C8C8C;
    margin-top: 45px;
}

.contact-futer a {
    text-decoration: none;
    color: #8C8C8C;
}

.contact-futer span {
    color:
        #FCD702;
}